<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
               
        <script src="js/build.js"></script>

        <link type="text/css" rel="stylesheet" href="css/build.css"/>
        
        <title>{{entry.title}}</title>
      
        <script>window.dataLayer = window.dataLayer || [];</script>
    
    </head>
        
    <body id="page">
        
    <div class="container">
        
      <a href="http://www.apollomatkat.fi">
        <img src="//cdn-prod-blue-www.apollomatkat.fi/v-eb2616cbc9895159b7ed1aaee3e5b822/content/themes/apollo/content/img/logo_without_slogan2.png" alt="Apollomatkat" />   
      </a>
    
    </div>
      
    
    <div class="container content-block">
       
     <div class="col-xs-12 lead-img">
      
        <img src="{{#if entry.leadImageUrl}}{{entry.leadImageUrl}}{{else}}/img/goa-crop.jpg{{/if}}" width="100%" />
       
      </div>
      
      <div class="col-md-7">
        <span class="marked">{{entry.body}}</span>


      </div>
      <div class="col-md-5" id="subscribe-col">
        
        <h3>{{#if entry.ctaHeading}} {{entry.ctaHeading}} {{else}} Liity uutiskirjeen tilaajaksi ja saat heti alennuskoodin sähköpostiisi {{/if}}</h3>
        
        <p>Uutiskirjeen tilaajana saat tiedon myös muista matkatarjouksistamme ennen muita.</p>
        
        <form name="subscribe" netlify-honeypot="bot-field" action="thank-you" id="subscribe-form" netlify>

          <span class="hidden">
              <label for="bot-field">Älä täytä tätä kenttää: <input name="bot-field" class="form-control" /></label>
          </span>

          <div class="form-group">

            <label for="etunimi">Etunimi</label>
            <input type="text" class="form-control" name="etunimi" id="etunimi">

          </div>
          <div class="form-group">
            <label for="sukunimi">Sukunimi</label>
            <input type="text" class="form-control" name="sukunimi" id="sukunimi">
          </div>
          <div class="form-group">    

            <label for="email">Sähköposti</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" name="email" id="email">
            <small id="emailHelp" class="form-text text-muted">Yhteystietojasi ei luovuteta ikinä muille.</small>

          </div>

          <div class="form-group" id="segment-radio">
            <label>Koska ajattelit lähteä lomalle?</label>
            <div class="radio">
              <label>
                <input type="radio" name="segment_travels_in" id="optionsRadios1" value="now" >
                Heti!
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="segment_travels_in" id="optionsRadios2" value="6_months">
                Alle 6 kuukauden sisällä
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="segment_travels_in" id="optionsRadios3" value="1_year">
                Alle vuoden sisällä
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="segment_travels_in" id="optionsRadios3" value="later">
                Myöhemmin
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="segment_travels_in" id="optionsRadios3" value="never">
                En koskaan!
              </label>
            </div>
          </div>

          <button type="submit" class="btn btn-lg btn-primary">{{#if entry.ctaButtonText}} {{entry.ctaButtonText}} {{else}} Liity nyt {{/if}}</button>
        </form>

        <script>
        $(document).ready(function() {
          
          var trackForm = function(form) {
            dataLayer.push( {
              event : 'customEventFi',
              category : 'lp_campaign',
              action : 'subscribe',
              label : '{{entry.labels}}'
            });
            dataLayer.push( {
              event : 'customEventFi',
              category : 'lp_campaign',
              action : $(form).find('#segment-radio input[type=radio]').attr('name'),
              label : $(form).find('#segment-radio input[type=radio]:checked').val()
            });
            
          };
          
          $("#subscribe-form").validate({
            rules: {
              etunimi: { required: true },
              sukunimi: { required: true },
              email: { required: true, email: true }
            },
            messages: {
              etunimi: { required: "Etunimi puuttuu" },
              sukunimi: { required: "Sukunimi puuttuu"  },
              email: { required: "Sähköpostiosoite puuttuu" }
            },
            submitHandler: function(form, e) {
              e.preventDefault();
              
              var $button = $(form).find('button');
              
              $button.prop('disabled', true);
              $button.removeClass('btn-primary');
              $button.addClass('disabled');
              
              
              $.ajax({
                url : $(form).attr("action"), 
                method : 'POST',
                data : $(form).serialize(),
                success : function() {
                  $button.addClass('btn-success');  
                  $button.html('SENT!');
                  trackForm(form);       
                },
                error : function() {      
                  if( {{config.production}} ) {
                    $button.addClass('btn-danger');
                    $button.html('Virhe :(');
                    $button.after().html('<p>Valitettavasti lomake ei tällä hetkellä toimi emmekä voi lähettää alennuskuponkia automaattisesti. Ota yhteyttä sähköpostilla xxxx@xxxx.fi</p>');
                  }
                  else {
                    trackForm(form);
                  }

                  
                }                
              });
              

            }
          });
           
            

        });
        </script>

      </div>
    </div>
      
    <div class="container content-block" id="item-grid" style="display:none">  
    

      
      <div class="col-xs-12" id="itemFeedText">
        <span class="marked">{{entry.itemFeedText}}</span>  
        
      </div>     
        
      </div>
      
      <script>
      $(document).ready(function() {
        
       
        var url = "{{{entry.itemFeedUrl}}}";
    
        if( url.length > 0 ) {
 
          $.ajax( {
            url : url,
            method : 'GET',
            success : function(result) {
              

              var items = [];

              for( var i = 0; i < result.length && i < 6; i++) {
                var item = result[i];
                var html = '<div class="col-xs-6 col-md-4 item">';
                html += '<a href="' + item.link + '">'
                html += '<img src="' + item.image_medium + '" />';
                html += '<h4>' + item.title + '</h4>'
                html += '</a>';
                html += '<span class="location">' + item.location + '</span>';
                html += '</div>';
                items.push(html);
              }

              $('#item-grid').append( items.join('') );
              $('#item-grid').fadeIn("slow");
            }       
          })
        }
      });
      </script>
      
    </div>
      
    

    <div class="container-fluid" id="footer">
    
    </div>

    </body>
</html>