<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
               
        <script src="js/build.js"></script>

        <link type="text/css" rel="stylesheet" href="css/build.css"/>
        
        <title>{{entry.seoTitle}}</title>
      
        <script>window.dataLayer = window.dataLayer || [];</script>
    
    </head>
        
    <body id="page">
        
    <div class="container">
        
      <a href="http://www.apollomatkat.fi">
        <img src="//cdn-prod-blue-www.apollomatkat.fi/v-eb2616cbc9895159b7ed1aaee3e5b822/content/themes/apollo/content/img/logo_without_slogan2.png" alt="Apollomatkat" />   
      </a>
    
    </div>
      
    
    <div class="container content-block">
       
     <div class="col-xs-12 lead-img">
      
        <img src="{{#if entry.leadImageUrl}}{{entry.leadImageUrl}}{{else}}/img/goa-crop.jpg{{/if}}" width="100%" />
       
      </div>
      
      <div class="col-md-7">
        

      </div>
      
      <div class="col-md-7">
        <span class="marked">{{entry.body}}</span>


      </div>
      <div class="col-md-5" id="subscribe-col">
     
   
        <h3>{{#if entry.ctaHeading}} {{entry.ctaHeading}} {{else}} Liity uutiskirjeen tilaajaksi ja saat heti alennuskoodin sähköpostiisi {{/if}}</h3>

        <p>Uutiskirjeen tilaajana saat tiedon myös muista matkatarjouksistamme ennen muita.</p>

        <iframe scrolling="no" allowTransparency="true" style="min-height:580px; overflow:none;" width="100%" id="contactform123" name="contactform123" marginwidth="0" marginheight="0" frameborder="0" src="http://www.123contactform.com/sf.php?s=my-contact-form-2905855&control31762580={{entry.name}}">
        <p>Valitettavasti selaimesi ei tue iframe-lomakkeita</p>
        </iframe>
        
        
        
        <script>
        /*
         We need to use iframe hacks to make this work, 
         123contactform-messager-form.js and 123contactform-messager-form.js push messages to parent
        */
        window.addEventListener('message', handleMessage, false);
        function sanitizeString(str) {
          return str.toLowerCase().replace(/[^a-zäö0-9]/g, '_').replace(/_$|^_/g, '');
        }
        function handleMessage(e) {
          e = e.data;

          if( typeof e.title !== 'undefined' && typeof e.value !== 'undefined' ) {
            e.title = sanitizeString(e.title);
            e.value = sanitizeString(e.value);            
          }

          window.segments = window.segments || {};
          switch(e.event) {  
            case 'checkBoxCheck':
              segments[e.title] = segments[e.title] || [];
              segments[e.title].push( e.value );
              break;
            case 'checkBoxUnCheck':
              segments[e.title].splice(segments[e.title].indexOf(e.value), 1);
              break;
            case 'radioSelect':
              segments[e.title] = e.value;
              break;
              
            case 'subscribe': 
              dataLayer.push({
                event: 'customEventFi',
                category : 'kampanja.apollomatkat.fi',
                action : 'subscribe',
                label : '{{entry.labels}}'
              });
              for(var key in segments) {
                
                dataLayer.push({
                  event: 'customEventFi',
                  category : 'kampanja.apollomatkat.fi',
                  action : 'sgm_' + key,
                  label : ( Array.isArray( segments[key] ) ) ? segments[key].join(',') : segments[key]
                });
                
              }
              break;
          } 
        }
        </script>

      </div>
    </div>
      
    <div class="container content-block" id="item-grid" style="display:none">  
    

      
      <div class="col-xs-12" id="itemFeedText">
        <span class="marked">{{entry.itemFeedText}}</span>  
        
      </div>     
        
      </div>
      
      <script>
      $(document).ready(function() {
        
       
        var url = "{{{entry.itemFeedUrl}}}";
    
        if( url.length > 0 ) {
 
          $.ajax( {
            url : url,
            method : 'GET',
            success : function(result) {
              

              var items = [];

              for( var i = 0; i < result.length && i < 6; i++) {
                var item = result[i];
                var html = '<div class="col-xs-6 col-md-4 item">';
                html += '<a href="' + item.link + '">'
                html += '<img src="' + item.image_medium + '" />';
                html += '<h4>' + item.title + '</h4>'
                html += '</a>';
                html += '<span class="location">' + item.location + '</span>';
                html += '</div>';
                items.push(html);
              }

              $('#item-grid').append( items.join('') );
              $('#item-grid').fadeIn("slow");
            }       
          })
        }
      });
      </script>
      
    </div>
      
    

    <div class="container-fluid" id="footer">
    
    </div>

    </body>
</html>